*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --navyColor: #002147;
    --darkGreen: #5AB8B3;
    --lightGreen: #5AEBC8;
}
/* start interface section */
.interface{
    background-image: linear-gradient(to bottom , #00152F, #002147, #002147);
    position: relative;
}
.interface .navbar{
    border-bottom: 1px solid var(--navyColor);
    position: relative;
    z-index: 10;
}
.nav-link{
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #E9ECEB;
    position: relative;
    transition: .3s ease;
}
.nav-link:hover,
.nav-link:focus{
    color: var(--darkGreen);
}
.infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E9ECEB;
    font-size: 14px;
    font-weight: 500;
}
.info.one{
    color: var(--darkGreen);
}
.info.two:hover{
    transition: .3s ease;
    color: var(--darkGreen);
}
.navbar-toggler{
    color: #E9ECEB;
    box-shadow: none!important;
}
.interface .container{
    position: relative;
    z-index: 10;
}
.interface-text{
    color: #fff;
    margin-bottom: 200px;
}
.interface-text h1{
    font-family: "cairo", sans-serif;
    font-size: 64px;
    font-weight: 600;
}
.interface-text p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.interface-text .btn{
    color: var(--navyColor);
    background: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: .8px;
    border-radius: 5px;
    transition: .3s ease;
}
.interface-text .btn:hover{
    color: var(--darkGreen);
    border: 1px solid  var(--darkGreen);
    background: transparent;
}
.interface-image{
    margin-bottom: -120px;
    position: relative;
}
.interface-image .raised{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background: var(--darkGreen);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Poppins", sans-serif;
}
.raised p{
    font-size: 24px;
    color: #fff;
}
.raised strong{
    font-size: 48px;
    font-weight: 600;
    color: var(--navyColor);
}
.circles{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.circle{
    position: absolute;
}
.circle.one{
    left: 5%;
    top: 25%;
}
.circle.two{
    left: 40%;
    top: 60%;
}
.circle.three{
    left: 80%;
    top: 30%;
}
/* end interface section */
/* start support section */
.support{
    padding-top: 170px;
}
.support img:first-of-type{
    border-top-left-radius: 50px;
}
.support-inner{
    font-family: "cairo", sans-serif;
    color: #0F111D;
    background: #F4F1EF;
    padding: 3rem ;
    position: relative;
    z-index: 20;
    margin-top: -250px;
    margin-inline: inherit;
}
.support-text h4,
.support-visa h4{
    font-size: 1rem;
    font-weight: 700;
}
.support-text p,
.support-visa p{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0!important;
}
.support-text .step{
    display: flex;
    align-items: center;
}
.step .step-number{
    font-size: 32px;
    font-weight: 700;
    color: var(--darkGreen);
    border-bottom: 3px solid var(--darkGreen);
    margin-right: 1rem;
}
.step-text h3{
    font-size: 14px;
    font-weight: 600;
}
.support-visa{
    padding: 1.5rem;
    font-family: "cairo", sans-serif;
    color: #0F111D;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #ddd;
}
.support-visa .btns .btn{
    width: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    color: var(--navyColor);
    border: 1px solid var(--navyColor);
    border-radius: 0;
    transition: .3s ease;
}
.support-visa .btns .btn.one{
    color: #fff;
    background: var(--navyColor);   
}
.support-visa .btns .btn.one:hover{
    background: #00152F;
}
.support-visa .btns .btn.two:hover{
    color: #fff;
    background: var(--navyColor);
}
.donation-amount{
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.donation-amount span{
    padding: .5rem 1rem;
    margin-right: .5rem;
    color: var(--navyColor);
    border: 1px solid var(--navyColor);
    border-radius: 30px;
    transition: .3s ease;
}
.donation-amount span:hover{
    color: #fff;
    background: var(--navyColor);
}
.support-visa form input{
    width: 100%;
    padding: .5rem 1.5rem;
    border: 1px solid #DED7D5;
}
.support-visa form .btn{
    width: 100%;
    padding: .5rem 1.5rem;
    color: #fff;
    background: var(--navyColor);
    text-align: center;
    border-radius: 0;
    transition: .3s ease;
}
.support-visa form .btn:hover{
    background: #00152F;
}
.donation-methods{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 1rem;
}
.donation-methods span{
    transition: .3s ease;
}
.donation-methods span:hover{
    transform: scale(1.1);
}
/* end support section */

/* start partners section */
.title{
    font-family: "DM Sans", sans-serif;
}
.title p{
    color: #5C6574;
    font-size: 14px;
    font-family: 500;
}
.title h3{
    color: #0F111D;
    font-size: 32px;
    font-weight: 700;
}
.partner{
    width: 100%;
    height: 95px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F9FAFC;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
.partner:hover{
    transform: scale(1.1);
}
/* end partners section */

/* start call section */
.call-infos{
    padding: 2.5rem 2rem; 
    color: #E9ECEB;
    background-image: linear-gradient(to right, #023455, #58b5b1);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: .6s ease;
}
.call-infos::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to left, #023455, #58b5b1);
    transition: .6s ease;
    z-index: 20;
}
.call-infos:hover::after{
    width: 100%;
}
.call-infos:hover{
    color: var(--navyColor);
}
.call-infos img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height:100% ;
    z-index: 21;
}
.call-info{
    position: relative;
    z-index: 22;
}
.call-info h3{
    display: inline-block;
    margin-left: .5rem;
    border-bottom: 2px solid;
}
/* end call section */

/* start footer */
.footer{
    display: flex;
    flex-direction: column;
    font-family: "cairo", sans-serif;
}
.left-footer, 
.right-footer{
    width: 100%;
}
.left-footer{
    color: #000;
    background: var(--lightGreen);
}
.left-footer h3{
    font-size: 32px;
    font-weight: 700;
}
.left-footer p{
    font-size: 14px;
    line-height: 200%;
}
.form-floating{
    color: #776A6A;
}
.form-control,
.form-control:focus{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    border-bottom: 1px solid #000;
    box-shadow: none;
} 
.form-floating span{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 1rem .75rem;
    letter-spacing: 1px;
}
.right-footer{
    color: #fff;
    background: var(--navyColor);
}
.right-footer h4{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.right-footer ul{
    list-style: none;
    padding-left: 0;
}
.right-footer ul li{
    font-size: 14px;
    padding-block: 4px;
    transition: .3s ease;
}
.right-footer ul li:hover{
    color: var(--lightGreen);
    transform: translateX(8px);
}
.footer-icons span{
    width: 36px;
    height: 36px;
    font-size: 24px;
    margin-inline: .5rem;
    transition: .3s ease;
}
.footer-icons span:hover{
    color: var(--darkGreen);
}
/* end footer */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* media large screen */
@media(min-width:992px) {
    .circle.two{
        top: 10%;
    }
    .interface-image .raised{
        bottom: 0;
        right: 100%;
        left:unset ;
        width: 75%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .interface-text{
        margin-bottom: 50px;
    }
    .support-inner{
        margin-inline: unset;
        margin-right: -425px;
        margin-top: 0;
    }
    .support img:first-of-type{
        border-top-left-radius: 0;
    }
    .other.partner{
        height: 100%;
    }
    .left-footer{
        width: 35%;
    }
    .right-footer{
        width: 65%;
    }
    .footer{
        flex-direction: row;
    }
}
/* media x large screen */
@media(min-width:1200px){
    .interface .navbar{
        border-bottom: none;
    }
    .nav-link::after{
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        left: 7.5%;
        bottom: 0;
        border-radius: 5px;
        transition: .4s ease;
        background: var(--darkGreen);
    }
    .nav-link:hover::after{
        width: 85%;
    }
    
}

